<!DOCTYPE html>
<html>
<head>
	<title>个人中心</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="wap_my.css">
</head>
<body class="body-ele">
	<!-- 个人信息展示 -->
	<div class="my-message">
		<div class="my-name-address">
			<img src="img/touxiang.png" style="border-radius: 50px; width: 46px;">
			<div class="message-text">
				<span>刘老根</span>
				<span>山七镇双桂村</span>
			</div>
		</div>
		<div style="padding-right: 15px;"><a href=""><img src="icon/bianji.png" style="width: 28px;"></a></div>
	</div>
	<!-- 我的订单模块 -->
	<div class="my-orders">
		<span style="font-size: 21px;font-weight: bold;margin-left: 10px;">我的订单</span>
		<div class="orders-state">
			<div class="state">
				<a href=""><img src="icon/forpay.png"></a>
				<span>待付款</span>
			</div>
			<div class="state">
				<a href=""><img src="icon/tosend.png"></a>
				<span>待发货</span>
			</div>
			<div class="state">
				<a href=""><img src="icon/forgood.png""></a>
				<span>待收货</span>
			</div>
			<div class="state">
				<a href=""><img src="icon/finish.png"></a>
				<span>已完成</span>
			</div>

		</div>
	</div>
	<!-- 功能列表 -->
	<div class="functions">
		<div class="specific-function">
			<div class="left">
				<img src="icon/phone.png">
				<span style="padding-left: 10px;">绑定手机号</span>
			</div>
			<i>></i>
		</div>
		<div class="specific-function">
			<div class="left">
				<img src="icon/collection.png">
				<span style="padding-left: 10px;">我的收藏</span>
			</div>
			<i>></i>
		</div>
		<div class="specific-function">
			<div class="left">
				<img src="icon/severtel.png">
				<span style="padding-left: 10px;">客服电话</span>
			</div>
			<i>></i>
		</div>
	</div>
	<!-- 底部导航 -->
	<div class="footer">
		<div class="bottom-menu">
			<a href=""><img src="icon/home1.png" width="20" height="20"></a>
			<span style="font-style: 8px;">首页</span>
		</div>
		<div class="bottom-menu">
			<a href=""><img src="icon/my1.png" width="20" height="20"></a>
			<span style="font-style: 8px;">我的</span>
		</div>
	</div>
</body>
</html>