.body-ele{
	background-color: #F4F4F4;
}
.footer {
	display: flex;
	justify-content: space-around;
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    z-index: 9999;
}
.bottom-menu{
	display: inline-flex;
	flex-direction: column;
	color: #018791;
	text-align: center;
	padding-top: 3px;
}
.my-message{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: #018791;
	height: 68px;
	align-items: center;
	color: #FFFFFF;
	padding-top: 6px;
}
.my-name-address{
	display: flex;
	flex-direction: row;
	font-size: 16px;
	padding-left: 10px;
}
.message-text{
	display: inline-flex;
	flex-direction: column;	
	padding-left: 20px;
}
.my-orders{
	margin-top: 10px;
	height: auto;
	padding: 10px 0;
	background-color: #FFFFFF;
}
.orders-state{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 10px;
}
.state{
	display: inline-flex;
	flex-direction: column;	
	text-align: center;
	padding-top: 10px;
}
.state img{
	width: 23px;
}
.functions{
	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
	margin-top: 10px;
	padding: 10px 0;
}
.specific-function{
	display: inline-flex;
	flex-direction: row;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
}
.specific-function img{
	width: 30px;
}
.left{
	display: inline-flex;
	align-items: center;
}

