.classification{
	display: inline-flex;
	justify-content: space-around;
	background-color: #FEFEFE;
	line-height:35px;
	width: 100%;
	height: 35px;
}
.classification a{
	text-decoration: none;
	color: #018791;
	
}
.classification-show{
	font-size: 20px;
	font-weight: bold;
}
.page-body{
	height: 100%;
	background-color: #F4F4F4;
}
.page-header{
	display: inline-flex;
	justify-content: space-between;
	height: 60px;
	width: 100%;
	background-color: #018791;
}
.address{
	flex-grow:1;
}
.search-input{
	flex-grow:3;
	padding: 16px 6px;
}
.search{
	margin-right: 10px;
	border: none;
	width: 80%;
	height: 30px;
	line-height: 30px;
	border-radius: 16px;
	padding-left: 40px;
	background-image: url(icon/search.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: 20px;
	background-color: #efefef;
	background-position-x: 10px; 
}
.page-middle{
	margin-top: 8px; 
	height: 260px	;
	background-color: #FFFFFF;

}
.slide{
	padding-top: 10px;
	text-align: center;
}
.slide img{
	border-radius: 10px;
	width: 95%;
	height: 158px;
}
.large-module{
	display: inline-flex;
	justify-content: space-around;
	width: 100%;
}
.module{
	float: left;
    height: 80px;
    width: 20%;
    box-sizing: border-box;
    background-clip: content-box;
	font-size: 10px;
	text-align: center;
	padding-top: 10px;
}
.module img{
	width: 50px;
	height: 50px;
}
.page-data{
	display: flex;
	flex-direction: column;
	margin-top: 8px;
	height: auto;
	background-color: #FFFFFF;
}

.good-list{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}
.good-img{
	text-align: center;
}
.good-list img{
	border-radius: 10px;
	width: 95%;
	height: 168px;
}
.good-message{
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
}
.space-home{
	padding-bottom: 60px;
}
.choice-click{
	display: inline-flex;
	padding-top: 10px;
	padding-right: 20px;
}
.footer {
	display: flex;
	justify-content: space-around;
	position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    z-index: 9999;
}
.bottom-menu{
	display: inline-flex;
	flex-direction: column;
	color: #018791;
	text-align: center;
}