.body-style{
	margin: 0;
}
.active{
	background-color: #3AC5CE;
}
.top-navigation{
	height: 80px;
	background-color: #018791;
}
.admin-name{
	color: #FFFFFF;
	font-size: 30px;
	padding-top: 20px;
	padding-left: 35px; 
}
.admin-name a{
	color: red;
	text-decoration: none;
	float: right;
	padding-right: 50px;
}
.left-navigation{
	width: 200px;
	position :absolute;
    min-height:90%;
	background-color: #018791;
}
.ele-placeholder{
	background-color: #F2F2F2;
	height: 10px;

}
.menu-module{
	background-color: #018791;
	border-bottom:1px solid #FFFFFF;
	font-size: 20px;
	color: #FFFFFF;
}
.menu-module span{
	display: block; 
	padding-top: 15px;
	padding-left: 40px; 
}
.menu-child a{
	text-decoration: none;
	color: #FFFFFF;
}
.content{
	margin-left: 200px;
}
.content-top{
	height: 80px;
}
.content-top button{
	margin-left: 30px;
	margin-top: 35px;
}
