<!DOCTYPE html>
<html>
<head>
	<title>农户列表</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="../../static/css/admin_home.css">
</head>
<body style="background-color: #F4F4F4;">	
	<!-- 商户列表 -->
	<div class=	"farmer-message">
		<!-- 头像名称等信息行 -->
		<div class="farmer-message1">
			<div class="farmer-img">
				<img src="../../static/img/img/touxiang.png">
				<div class="farmer-identity">
					<span>刘老根</span>
					<span>山七镇双桂村</span>
				</div>
			</div>
			<span class="identity-logo">启用</span>
		</div> 
		<!-- 订单数据信息行 -->
		<div class="farmer-message2">
			<span>手机号: 18655109810</span>
			<span>商品: 12</span>
			<span>订单: 12</span>
		</div>
	</div>
	<div class=	"farmer-message">
		<!-- 头像名称等信息行 -->
		<div class="farmer-message1">
			<div class="farmer-img">
				<img src="../../static/img/img/touxiang.png">
				<div class="farmer-identity">
					<span>刘老根</span>
					<span>山七镇双桂村</span>
				</div>
			</div>
			<span class="identity-logo">关闭</span>
		</div> 
		<!-- 订单数据信息行 -->
		<div class="farmer-message2">
			<span>手机号: 18655109810</span>
			<span>商品: 12</span>
			<span>订单: 12</span>
		</div>
	</div>
	<!-- 右侧悬浮按钮 -->
	<div id="dg" style="z-index: 9999; position: fixed ! important; right: 10px; top: 80%;">
		<a href=""><img src="../../static/img/icon/add.png" style="width: 50px;"></a>
	</div>

</body>
</html>